#!/bin/sh
source utils.sh
set -o xtrace

# Network node configure
# Open vSwitch: Self-service networks
apt install -y neutron-openvswitch-agent neutron-l3-agent

# Enable routing and allow overlapping IP address ranges
add_config /etc/neutron/neutron.conf DEFAULT core_plugin ml2
add_config /etc/neutron/neutron.conf DEFAULT service_plugins router
add_config /etc/neutron/neutron.conf DEFAULT allow_overlapping_ips True

# configure database access:
add_config /etc/neutron/neutron.conf database connection mysql+pymysql://neutron:{{ database_neutron_password }}@{{ mysql_database.listen }}/neutron

# configure RabbitMQ message queue access
add_config /etc/neutron/neutron.conf DEFAULT transport_url rabbit://{{ message_queue.username }}:{{ message_queue.password }}@{{ message_queue.listen }}

# configure Identity service access
add_config /etc/neutron/neutron.conf DEFAULT auth_strategy keystone
add_config /etc/neutron/neutron.conf keystone_authtoken www_authenticate_uri http://{{ keystone.internal_url }}
add_config /etc/neutron/neutron.conf keystone_authtoken auth_url http://{{ keystone.internal_url }}
add_config /etc/neutron/neutron.conf keystone_authtoken memcached_servers {{ memcached.listen }}:11211
add_config /etc/neutron/neutron.conf keystone_authtoken auth_type password
add_config /etc/neutron/neutron.conf keystone_authtoken project_domain_name default
add_config /etc/neutron/neutron.conf keystone_authtoken user_domain_name default
add_config /etc/neutron/neutron.conf keystone_authtoken project_name service
add_config /etc/neutron/neutron.conf keystone_authtoken username neutron
add_config /etc/neutron/neutron.conf keystone_authtoken password {{ neutron.password }}

# configure Networking to notify Compute of network topology changes
add_config /etc/neutron/neutron.conf DEFAULT notify_nova_on_port_status_changes true
add_config /etc/neutron/neutron.conf DEFAULT notify_nova_on_port_data_changes true
add_config /etc/neutron/neutron.conf nova auth_url http://{{ keystone.internal_url }}
add_config /etc/neutron/neutron.conf nova auth_type password
add_config /etc/neutron/neutron.conf nova project_domain_name default
add_config /etc/neutron/neutron.conf nova user_domain_name default
add_config /etc/neutron/neutron.conf nova region_name RegionOne
add_config /etc/neutron/neutron.conf nova project_name service
add_config /etc/neutron/neutron.conf nova username nova
add_config /etc/neutron/neutron.conf nova password {{ compute.password }}

# Create the OVS provider bridge br-provider
ovs-vsctl add-br br-provider

# configure the layer-2 agent
add_config /etc/neutron/plugins/ml2/openvswitch_agent.ini ovs bridge_mappings provider:br-provider
add_config /etc/neutron/plugins/ml2/openvswitch_agent.ini ovs local_ip {{ network_node.local_ip }}
add_config /etc/neutron/plugins/ml2/openvswitch_agent.ini agent tunnel_types vxlan
add_config /etc/neutron/plugins/ml2/openvswitch_agent.ini agent l2_population True
add_config /etc/neutron/plugins/ml2/openvswitch_agent.ini securitygroup firewall_driver iptables_hybrid

# configure the layer-3 agent
add_config /etc/neutron/l3_agent.ini DEFAULT interface_driver openvswitch
add_config /etc/neutron/l3_agent.ini DEFAULT external_network_bridge

# Finalize installation
service neutron-l3-agent restart
service neutron-openvswitch-agent restart
set +o xtrace
